body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.animated-fill {
  
        width: 200px;
        height: 200px;
        background: linear-gradient(
          180deg,
          #FFA8B9 5%,
          #FB1743 25%,
          #D30B31 50.48%,
          #FB1743 75%,
          #FFA8B9 95%
        );
        background-size: 200% 200%;
        animation: gradientMove 5s ease-in-out infinite;
        mask: url('logo_tia.svg') center/contain no-repeat;
        -webkit-mask: url('logo_tia.svg') center/contain no-repeat;
      }
      
      @keyframes gradientMove {
        0% {
          background-position: 50% 0%;
        }
        50% {
          background-position: 50% 100%;
        }
        100% {
          background-position: 50% 0%;
        }
      }

